@media (max-width: 1280px) {
    body { 
        width: 1024px;
    }
    .hero_image {
        width: 100%;
        margin: 0 auto;
        opacity: 0%;
    }
    .hero_image1 {
        width: 100%;
        margin: 0 auto;
        opacity: 100%;
    }
}

@media (max-width: 768) {
    .adaptive {
        width: 320;
    }
}